*{
    box-sizing: border-box;
}

.box{
    float: left;
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
}

.bigL{
    margin: 10px;
    font-size: 250%;

}
section{
    border: 2px solid black;
}
.imgR{
    float: right;
    padding: 20px;
}

/*
  ========================================
  Clearfix
  ========================================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
  
}
.athugid{
    background-color: yellow;
}